li {
  font-size: 16px;
}

h3 {
  font-family: "Roboto Condensed-Light";
}

.handbook-container {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  background: url(/images/getting-help.jpg) no-repeat center center;
  background-size: cover;
  margin-bottom: 37px;
}

.handbook-overlay {
  background: rgba(85, 68, 136, 0.62);
  height: 500px;
}

.handbook-content {
  padding-top: 76px;
  text-align: center;
  color: white;
  width: 50%;
  text-align: center;
  margin-left: 25%;
}

.handbook-content h1 {
  color: white;
  font-size: 6rem;
  font-weight: 700;
}

#content {
  margin-bottom: 75px;
}
